---
title: Hello!
layout: layouts/base.njk
---
<div class="space-y-8">
    <p>I am a Software Engineer with over 10 years of development experience.</p>
    <p>I am a capable problem solver: a fast learner who is comfortable working with large, complex datasets.
        I take pride in building well-architected, tested, reliable, performant, cost-efficient, useful applications.</p>
    <p>I find joy in helping people and eliminating drudgery.</p>
    <p>I have worked extensively with public transport data, including NaPTAN, NPTG, TransXChange, SIRI,
        GTFS Static and GTFS Realtime.</p>
    <p>Languages, technologies and frameworks that I am experienced in include
        Go (Golang), TypeScript, JavaScript, AWS Lambda and related AWS services, AWS CDK, Node.js, Docker, SQL
        databases, Redis, React, Next.js – and many others.</p>
    <p>Please take a look at <a class="font-bold hover:underline" href="/portfolio/">my portfolio</a> for some insights into the projects that I have
        worked on.</p>
</div>
